<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <h1>Notes</h1>
</head>
<body>
<div th:fragment="content">

    <header class="page-header">
        <h1>Notes</h1>
    </header>

    <div class="row">
        <div class="col-md-12">
            <!--<div class="listing-header">-->
            <!--<h2>Nachricht <span th:text="${message.entryId}">1234</span> <small>vom <span th-text="${message.date}">21.02.2016</span></small></h2>-->
            <!--</div>-->


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title"> Done </h3>
                            <a> Back to Portal</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
</body>
</html>